---
import Layout from '../../layouts/Layout.astro';
import type { GetStaticPaths } from 'astro';
import { newtClient } from '../../libs/newt';
import type { Article } from '../../libs/newt';
export const getStaticPaths = async () => {
  const { items: articles } = await newtClient.getContents<Article>({
    appUid: 'blog',
    modelUid: 'article',
    query: {
      select: ['title', 'slug', 'body', 'coverImage'],
    },
  });
  return articles.map((article) => ({
    params: { slug: article.slug },
    props: { article },
  }));
};

const { article } = Astro.props;
---

<Layout title="Article" description="test" keyword="test" />
<div class="px-[4vw] pt-[max(20vw,10rem)]">
  <p>
    <img src={article.coverImage.src} alt="" />
  </p>
  <h1>{article.title}</h1>
  <article set:html={article.body} />
</div>
