---
// import { getBlogs } from '../libs/microcms';
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { newtClient } from '../libs/newt';
import type { Article } from '../libs/newt';
const { items: articles } = await newtClient.getContents<Article>({
  appUid: 'blog',
  modelUid: 'article',
  query: {
    select: ['title', 'slug', 'body'],
  },
});

// const response = await getBlogs({ fields: ['id', 'title'] });
---

<Layout title="トップページです">
  <style>
    .fade-out {
      opacity: 0;
      transition: opacity 2s;
    }
  </style>
  <main class="transition-fade overflow-hidden">
    <video class="size-full" id="loading-animation" autoplay muted>
      <source src="./images/loading.mp4" type="video/mp4" />
       Your browser does not support the video tag.
    </video>
    <h2 class="text-white">newtでブログ</h2>
    <ul>
      {
        articles.map((article) => {
          return (
            <li>
              <a class="text-white" href={`articles/${article.slug}`}>
                {article.title}
              </a>
            </li>
          );
        })
      }
      <!-- {
        response.contents.map((blog: any) => {
          return (
            <li class="text-white">
              <a href={blog.id}>{blog.title}</a>
            </li>
          );
        })
      } -->
      <!-- <p class="text-fdf text-white"><a href="/page02">page02へ移動</a></p> -->
    </ul>
  </main>
</Layout>
<script>
  const video = document.getElementById('loading-animation');

  document.addEventListener('DOMContentLoaded', function () {
    if (video instanceof HTMLVideoElement) {
      video.play();
    }
  });

  if (video)
    video.addEventListener('ended', function () {
      console.log('video終わりました');
      video.classList.add('fade-out');
    });
</script>
