---
// import { getBlogs } from '../libs/microcms';
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { newtClient } from '../libs/newt';
import type { Article } from '../libs/newt';
const { items: articles } = await newtClient.getContents<Article>({
  appUid: 'blog',
  modelUid: 'article',
  query: {
    select: ['title', 'slug', 'body'],
  },
});
---

<Layout
  title="金沢茶寮"
  description="金沢茶寮は自分の手で色彩をほどこした器でプレミアム日本茶を嗜むことが出来る体感型アートカフェです。"
  keyword="金沢、カフェ、金沢塗り、伝統工芸"
>
  <!-- メインビジュアルー -->
  <section id="mainvisual">
    <div class="c-section pb-[8svb] sm:px-c-gutter-x">
      <div
        class="h-fit sm:col-span-full sm:row-span-1 sm:row-start-2 lg:col-span-4 lg:col-start-5 lg:row-span-2 lg:row-start-1"
      >
        <figure class="size-full">
          <img
            src="/images/mainvisual_1.png"
            class="h-[70svh] w-full sm:aspect-[454/724] lg:h-auto"
            alt=""
          />
        </figure>
      </div>

      <header
        class="relative z-10 h-[30svh] whitespace-nowrap pl-[1.5rem] sm:row-auto sm:h-fit sm:translate-y-0 sm:content-normal sm:pb-[6vw] sm:pl-0 sm:text-ks-white sm:mix-blend-difference sm:max-lg:pt-[16vw] md:pr-[max(12vw,3rem)] lg:col-span-7 lg:col-start-1 lg:row-span-2 lg:row-start-1 lg:grid lg:h-auto lg:content-center lg:justify-end lg:py-0"
      >
        <h2
          lang="en"
          class="mb-[0.25em] mt-[-.65em] w-fit text-[max(6vw,3.5rem)]/[1em] font-[500] tracking-[-0.01em] sm:mt-0 sm:max-lg:text-[10vw]"
        >
          Unleash&nbsp;Your<br translate="no" aria-hidden="true" /><span
            class="mr-[.09em]"
            aria-hidden="true"></span>Five&nbsp;Senses
        </h2>
        <p
          role="heading"
          aria-level="2"
          class="pl-[max(.85vw,.5em)] text-[max(1.125vw,0.84rem)]/[max(2.5vw,1.8rem)] font-[350]"
        >
          五感を解き放つ、“塗って、味わい、感じる”<br
            translate="no"
            aria-hidden="true"
          />新感覚のアートカフェ
        </p>
      </header>
      <nav
        class="col-span-full col-start-10 row-span-2 row-start-1 grid w-fit content-center"
      >
        <ol
          role="list"
          class="invisible h-0 text-[max(1vw,theme(fontSize.jpTextBase))] lg:visible lg:h-auto [&>li]:whitespace-nowrap [&>li]:font-[200] [&>li]:leading-[300%]"
        >
          <li><a href="">01.コンセプト</a></li>
          <li><a href="">02.体験内容と料金</a></li>
          <li><a href="">03.アクセス</a></li>
          <li><a href="">04.お知らせ</a></li>
          <li><a href="">05.公式インスタグラム</a></li>
        </ol>
      </nav>
    </div>
  </section>
  <!-- /メインビジュアル -->
  <!-- 装飾 -->
  <div class="overflow-hidden">
    <p
      lang="en"
      aria-hidden="true"
      class="relative z-[-1] w-fit animate-[marquee_60s_linear_infinite] overflow-hidden whitespace-nowrap text-enText10xl font-light italic leading-none text-ks-white"
    >
      &nbsp;CONCEPT&nbsp;CONCEPT&nbsp;CONCEPT CONCEPT&nbsp;CONCEPT&nbsp;CONCEPT
    </p>
  </div>
  <!-- /装飾 -->
  <!-- コンセプトー -->
  <section id="concept">
    <article class="c-section px-c-gutter-x">
      <figure
        class="sticky top-[8vh] col-span-6 col-start-1 hidden pt-[11.2vw] u-sticky-for-grid sm:block lg:pl-[5.1vw]"
      >
        <img
          src="/images/artandcafe.svg"
          decoding="async"
          width="493"
          height="272"
          alt="金沢茶寮の体験の簡略図"
          class="w-full"
        />
      </figure>
      <div class="col-span-5 col-start-8">
        <h2
          class="mb-[max(2.5vw,3.5rem)] mt-[-1.75em] text-[max(4vw,theme(fontSize.jpText3xl))]/[max(7vw,3.5rem)] font-[400]"
        >
          感性と創造力を<br translate="no" ari-hidden="true" />刺激する
        </h2>
        <!-- <p
          class="text-[max(1.14vw,theme(Fontsize.jpTextSm))]/[max(2.6vw,1.75rem)]"
        > -->
        <div
          class="text-[max(1.14vw,theme(fontSize.jpTextSm))]/[max(2.6vw,1.75rem)] max-sm:pl-[24vw] xl:pr-[7.25rem] [&>p]:mb-[max(3vw,1.5rem)] [&>p]:text-justify"
        >
          <p>
            金沢茶寮は、自分の手で色彩をほどこした器でプレミアム日本茶を嗜むことが出来る体感型アートカフェです。
          </p>
          <p>
            金沢茶寮で体験できる金沢塗りの特徴は、吉岡正義(よしおかまさよし)氏と松浦悠子(まつうらゆうこ)氏が手掛ける陶器に、色鮮やかな１０種類以上の塗料を重ね塗りし、削りながら作り上げる技法にあります。
          </p>
          <p class="hidden lg:block">
            この技法の背景には石川県で古くから伝えられている伝統工芸「九谷五彩(くたにごさい)」の限られた色彩にとらわれない独自の重ね塗り、磨き、削る技法を「九谷焼(くたにやき)」に取り入れるという挑戦があり、金沢の「塗り文化」に新たな風が吹いています。
          </p>
          <p>
            ぜひ、伝統とモダンが交差しながら共存する金沢ならではの魅力が詰まった「塗り」を心ゆくまでお楽しみください。
          </p>
        </div>

        <aside class="pr-0 pt-[max(1.5vw,3rem)] lg:pr-[5.1vw]">
          <header class="mb-[max(3vw,2.5rem)]">
            <h3 class="text-left sm:text-center">
              <span class="title-main" lang="en">Supervisor</span>
              <span class="title-sub">監修者紹介</span>
            </h3>
          </header>

          <ul>
            <li
              class="mb-[max(3vw,1.3rem)] grid grid-cols-[auto,1fr] gap-x-[max(2.75vw,1rem)]"
            >
              <figure
                class="aspect-[76/91] w-[max(10.3vw,4.75rem)] self-stretch lg:aspect-[1/1]"
              >
                <img
                  class="size-full"
                  decoding="async"
                  width="165"
                  height="165"
                  src="/images/yoshiokasan.png"
                  alt="金沢茶寮で働く吉岡さん"
                />
              </figure>
              <div>
                <h4
                  class="mb-[.2em] lg:mb-[1.5em] [&>span]:inline-block lg:[&>span]:block"
                >
                  <span
                    class="text-[max(1.5vw,theme(fontSize.jpTextBase))]/[max(1.5vw,1.23rem)] font-semibold lg:mb-[.25em]"
                    >吉岡&nbsp;正義</span
                  >
                  <span
                    class="text-[max(0.8vw,theme(fontSize.jpTextXs))]/[max(1.5vw,1.23rem)]"
                    ><span class="inline-block md:hidden">(</span
                    >よしおか&nbsp;まさよし<span class="inline-block md:hidden"
                      >)</span
                    ></span
                  >
                </h4>
                <p
                  class="text-[max(1vw,theme(fontSize.jpTextXs))]/[max(1.75vw,1.4rem)]"
                >
                  数多くの国外で活動するグローバル視点の陶芸作家。日本だけでなく世界各地の土でまだ見ぬ焼き物へと挑戦している。
                </p>
              </div>
            </li>
            <li class="grid grid-cols-[auto,1fr] gap-x-[max(2.75vw,1rem)]">
              <figure
                class="aspect-[76/91] w-[max(10.3vw,4.75rem)] self-stretch lg:aspect-[1/1]"
              >
                <img
                  class="size-full"
                  decoding="async"
                  width="165"
                  height="165"
                  src="/images/matsuurasan.png"
                  alt="金沢茶寮で働く松浦さん"
                />
              </figure>
              <div>
                <h4
                  class="mb-[.2em] lg:mb-[1.5em] [&>span]:inline-block lg:[&>span]:block"
                >
                  <span
                    class="text-[max(1.5vw,theme(fontSize.jpTextBase))]/[max(1.5vw,1.23rem)] font-semibold lg:mb-[.25em]"
                    >松浦&nbsp;悠子</span
                  >
                  <span
                    class="text-[max(0.8vw,theme(fontSize.jpTextXs))]/[max(1.5vw,1.23rem)]"
                    ><span class="inline-block md:hidden">(</span
                    >まつうら&nbsp;ゆうこ<span class="inline-block md:hidden"
                      >)</span
                    ></span
                  >
                </h4>
                <p
                  class="text-[max(1vw,theme(fontSize.jpTextXs))]/[max(1.75vw,1.4rem)]"
                >
                  金沢美術工芸大学院生。2019年9月にパリのgalerie
                  satelliteでも個展が開かれるなど、在学中からその才能を発揮。
                </p>
              </div>
            </li>
          </ul>
        </aside>
      </div>
    </article>
    <!-- コンセプトー -->
  </section>
  <!-- スペーサー -->
  <div aria-hidden="true" class="pb-c-gutter-y"></div>
  <!-- スペーサー -->
  <!-- 体験 -->
  <section id="program">
    <figure class="aspect-[400/264] sm:max-lg:aspect-auto lg:aspect-[1600/696]">
      <img
        src="/images/program.png"
        width="1600"
        height="696"
        decoding="async"
        class="size-full sm:max-lg:min-h-[8rem]"
        alt="金沢茶寮の体験の流れ"
      />
    </figure>
    <div class="px-c-gutter-x sm:max-lg:px-0">
      <div class="px-[max(7.6vw,3.37rem)]">
        <header class="mb-[max(5vw,3.5rem)] max-lg:text-center">
          <h2 class="mt-[-2em]">
            <span class="title-main lg:ml-[-.03em]" lang="en">Program</span>
            <span class="title-sub">体験内容と料金</span>
          </h2>
        </header>
        <div class="max-sm:mx-[calc(50%-50vw)] max-sm:w-[100vw]">
          <ol
            class="flex overflow-x-auto u-no-scrollbar max-lg:mx-[26vw] max-sm:flex-nowrap lg:justify-between max-sm:[&>li]:min-w-[50vw]"
          >
            <li>
              <header class="mb-[2em] text-center">
                <div
                  class="mr-[.2em] text-center text-[max(2.66vw,2rem)] tracking-[.1em]"
                >
                  01
                </div>
                <div>
                  <img
                    src="/images/elegant-chevron.svg"
                    width="268"
                    height="27"
                    decoding="async"
                    class="mx-auto w-[80%]"
                    alt=""
                  />
                </div>
              </header>
              <figure class="mb-[2em]">
                <img
                  src="/images/apply.png"
                  alt="どんな色彩の器にするかイメージする"
                />
              </figure>
              <footer>
                <p
                  class="text-center text-[max(1.14vw,theme(fontSize.jpTextSm))]/[max(1.9vw,1.6rem)]"
                >
                  どんな色彩の器にするか <br
                    translate="no"
                    aria-hidden="true"
                  />イメージする
                </p>
              </footer>
            </li>
            <li>
              <header class="mb-[2em] text-center">
                <div
                  class="mr-[.2em] text-center text-[max(2.66vw,2rem)] tracking-[.1em]"
                >
                  02
                </div>
                <div>
                  <img
                    src="/images/elegant-chevron.svg"
                    width="268"
                    height="27"
                    class="mx-auto w-[80%]"
                    alt=""
                  />
                </div>
              </header>
              <figure class="mb-[2em]">
                <img
                  src="/images/make-color.png"
                  alt="塗り重ねをして、色を作る"
                />
              </figure>
              <footer>
                <p
                  class="text-center text-[max(1.14vw,theme(fontSize.jpTextSm))]/[max(1.9vw,1.6rem)]"
                >
                  塗り重ねをして<br translate="no" aria-hidden="true" />色を作る
                </p>
              </footer>
            </li>
            <li>
              <header class="mb-[2em] text-center">
                <div
                  class="mr-[.2em] text-center text-[max(2.66vw,2rem)] tracking-[.1em]"
                >
                  03
                </div>
                <div>
                  <img
                    src="/images/elegant-chevron.svg"
                    width="268"
                    height="27"
                    decoding="async"
                    class="mx-auto w-[80%]"
                    alt=""
                  />
                </div>
              </header>
              <figure class="mb-[2em]">
                <img
                  src="/images/curve.png"
                  alt="色を塗り、乾かし、さらに削る"
                />
              </figure>
              <footer>
                <p
                  class="text-center text-[max(1.14vw,theme(fontSize.jpTextSm))]/[max(1.9vw,1.6rem)]"
                >
                  色を塗り、乾かし、<br
                    translate="no"
                    aria-hidden="true"
                  />さらに削る
                </p>
              </footer>
            </li>
            <li>
              <header class="mb-[2em] text-center">
                <div
                  class="mr-[.2em] text-center text-[max(2.66vw,2rem)] tracking-[.1em]"
                >
                  04
                </div>
                <div>
                  <img
                    src="/images/elegant-chevron.svg"
                    width="268"
                    height="27"
                    decoding="async"
                    class="mx-auto w-[80%]"
                    alt=""
                  />
                </div>
              </header>
              <figure class="mb-[2em]">
                <img
                  src="/images/drink.png"
                  alt="世界で一つだけの器で、プレミアム日本茶を飲む"
                />
              </figure>
              <footer>
                <p
                  class="text-center text-[max(1.14vw,theme(fontSize.jpTextSm))]/[max(1.9vw,1.6rem)]"
                >
                  世界で一つだけの器で、<br
                    translate="no"
                    aria-hidden="true"
                  />プレミアム日本茶を飲む
                </p>
              </footer>
            </li>
          </ol>
        </div>
      </div>

      <!-- スペーサー-->
      <div class="pb-[max(9vw,10rem)]" aria-hidden="true"></div>
      <!-- スペーサー -->

      <!-- 体験内容CV -->
      <article>
        <h3 class="sr-only">料金とその他詳細</h3>
        <div
          class="grid grid-cols-10 grid-rows-3 gap-x-[max(2.5vw,1rem)]
          max-lg:mr-[-6vw] lg:px-[7.68vw]"
        >
          <p
            lang="en"
            class="relative z-10 col-span-7 col-start-1 row-span-2 row-start-1 text-left text-[max(8vw,4rem)]/[max(8vw,4.48rem)] max-lg:mt-[-.65em] sm:max-lg:hidden lg:col-span-5 lg:col-start-1 lg:row-span-2 lg:row-start-1 lg:ml-[-0.05em] lg:mt-[-.15em] lg:text-ks-grey"
          >
            Price&nbsp;And<br translate="no" aria-hidden="true" />Detail
          </p>
          <figure
            class="col-span-8 col-start-3 row-span-2 row-start-1 aspect-[1/1] max-sm:mb-[.5em] lg:col-span-5 lg:col-start-6 lg:row-span-2 lg:row-start-1 lg:self-end"
          >
            <img
              class="size-full"
              width="578"
              height="569"
              decoding="async"
              src="/images/cv.png"
              alt="茶器に色を塗っている画像"
            />
          </figure>
          <ul
            class="col-span-7 col-start-3 self-end sm:max-lg:self-center lg:col-span-5 lg:col-start-1 lg:row-span-1 lg:row-start-2"
          >
            <li class="mb-[max(1.5vw,1rem)]">
              <img
                src="/images/price.svg"
                alt="1名様6900円(税込)。器、塗料、お茶の代金が含まれます"
              />
            </li>
            <li>
              <img
                src="/images/three-parts.svg"
                alt="10時、13時、16時の3部制です。各回6名限定で2時間制。当日予約はお電話にて承ります。"
              />
            </li>
          </ul>
          <div
            class="col-span-7 col-start-3 h-fit pt-[max(5vw,2rem)] sm:max-lg:pt-0 lg:col-span-10 lg:col-start-1"
          >
            <button
              type="button"
              class="relative grid size-full grid-cols-[1fr,auto] place-items-center bg-ks-black lg:border-[1px] lg:border-ks-black lg:bg-transparent"
            >
              <a
                target="_blank"
                href="https://www.kanazawasaryo.jp/"
                class="absolute left-0 top-0 block size-full"></a>
              <span
                class="block size-full py-[max(3.75vw,1.25rem)] pl-[1em] text-center text-[max(4vw,1rem)]/[1em] font-[300] text-ks-white lg:text-ks-black"
                >体験予約</span
              >
              <span class="block w-[max(4vw,1.25rem)] translate-x-[-100%]">
                <img
                  width="19"
                  height="15"
                  decoding="async"
                  src="/images/chevron-white.svg"
                  alt=""
                  class="size-full lg:invert"
                />
              </span>
            </button>
          </div>
        </div>
      </article>
      <!-- /体験内容cv -->
    </div>
  </section>
  <!-- 体験ー -->

  <!-- スペーサー-->
  <div class="pb-c-gutter-y" aria-hidden="true"></div>
  <!-- スペーサー -->

  <!-- お茶飲み体験ー -->
  <section id="tea">
    <div
      class="c-grid px-c-gutter-x max-lg:grid-rows-[1fr,auto,1fr] max-lg:gap-y-[3em]"
    >
      <figure
        class="col-span-12 col-start-1 -ml-c-gutter-x aspect-[340/160] max-md:row-span-1 max-md:row-start-2 max-md:self-center max-md:pr-[4vw] lg:col-span-11 lg:aspect-[1397/456]"
      >
        <img
          width="1397"
          height="456"
          src="/images/tea-experience.png"
          alt="お茶を淹れている様子"
          decoding="async"
          class="size-full"
        />
      </figure>
      <header
        class="max-lg:col-span-9 max-lg:col-start-3 lg:col-span-3 lg:col-start-8 lg:row-start-2 lg:self-end"
      >
        <div class="flex flex-row-reverse [&>*]:[writing-mode:vertical-rl]">
          <h2
            class="ml-[.85em] text-[max(2.66vw,2rem)] font-[400] tracking-[.2em]"
          >
            日本茶を嗜む
          </h2>
          <p
            class="text-[max(1vw,0.8rem)] [&>span:not(:last-child)]:ml-[1em] [&>span]:block [&>span]:tracking-[.1em]"
          >
            <span>器を完成させた後は、日本各地のお茶をブレンドした</span>
            <span>プレミアム日本茶を嗜む時間をお過ごしいただけます。</span>
            <span>日頃の忙しさを忘れ、心身ともにリフレッシュできる</span>
            <span>機会をぜひご堪能ください。</span>
            <span> ※ カフェのみのご利用も歓迎です。</span>
          </p>
        </div>
      </header>
      <div
        class="max-lg:col-span-8 max-lg:col-start-3 max-lg:row-start-3 lg:col-span-4 lg:col-start-2 lg:row-start-2"
      >
        <figure class="max-lg:mt-[2em] lg:translate-y-[-20%]">
          <picture>
            <source
              srcset="/images/tea-menu-sp.svg"
              media="(max-width: 1023px)"
            />
            <source srcset="/images/tea-menu.svg" media="(min-width: 1024px)" />
            <img src="tea-menu.svg" class="size-full" alt="カフェメニュー" />
          </picture>
        </figure>
      </div>
    </div>
  </section>
  <!-- お茶飲み体験ー -->
  <!-- スペーサー -->
  <div aria-hidden="true" class="pb-c-gutter-y"></div>
  <!-- スペーサー -->
  <!-- アクセス -->
  <section id="access">
    <div>
      <h2>
        <span lang="en" class="title-main">Access</span>
        <span lang="en" class="title-sub">アクセス</span>
      </h2>
    </div>
  </section>
  <!-- アクセス -->

  <!-- <ul>
      {
        articles.map((article) => {
          return (
            <li>
              <a href={`articles/${article.slug}`}>{article.title}</a>
            </li>
          );
        })
      }
    </ul> -->

  <script>
    console.log('記入可能');
  </script>
</Layout>
