---
// import { getBlogs } from '../libs/microcms';
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { newtClient } from '../libs/newt';
import type { Article } from '../libs/newt';
const { items: articles } = await newtClient.getContents<Article>({
  appUid: 'blog',
  modelUid: 'article',
  query: {
    select: ['title', 'slug', 'body'],
  },
});
---

<Layout
  title="金沢茶寮"
  description="金沢茶寮は自分の手で色彩をほどこした器でプレミアム日本茶を嗜むことが出来る体感型アートカフェです。"
  keyword="金沢、カフェ、金沢塗り、伝統工芸"
>
  <!-- メインビジュアルー -->
  <section id="mainvisual">
    <div class="c-section pb-[8svb] sm:px-c-gutter-x">
      <div
        class="h-fit sm:col-span-full sm:row-span-1 sm:row-start-2 lg:col-span-4 lg:col-start-5 lg:row-span-2 lg:row-start-1"
      >
        <figure class="size-full">
          <img
            src="/images/mainvisual_1.png"
            class="h-[70svh] w-full sm:aspect-[454/724] lg:h-auto"
            alt=""
          />
        </figure>
      </div>

      <header
        class="relative z-10 h-[30svh] whitespace-nowrap pl-[1.5rem] sm:row-auto sm:h-fit sm:translate-y-0 sm:content-normal sm:pb-[6vw] sm:pl-0 sm:text-ks-white sm:mix-blend-difference sm:max-lg:pt-[16vw] md:pr-[max(12vw,3rem)] lg:col-span-7 lg:col-start-1 lg:row-span-2 lg:row-start-1 lg:grid lg:h-auto lg:content-center lg:justify-end lg:py-0"
      >
        <h2
          lang="en"
          class="mb-[0.25em] mt-[-.65em] w-fit text-[max(6vw,3.5rem)]/[1em] font-[500] tracking-[-0.01em] sm:mt-0 sm:max-lg:text-[10vw]"
        >
          Unleash&nbsp;Your<br translate="no" aria-hidden="true" /><span
            class="mr-[.09em]"
            aria-hidden="true"></span>Five&nbsp;Senses
        </h2>
        <p
          role="heading"
          aria-level="2"
          class="pl-[max(.85vw,.65em)] text-[max(1.125vw,0.88rem)]/[max(2.5vw,2rem)]"
        >
          五感を解き放つ、“塗って、味わい、感じる”<br
            translate="no"
            aria-hidden="true"
          />新感覚のアートカフェ
        </p>
      </header>
      <nav
        class="col-span-full col-start-10 row-span-2 row-start-1 grid w-fit content-center"
      >
        <ol
          role="list"
          class="invisible h-0 text-jpTextBase lg:visible lg:h-auto [&>li]:whitespace-nowrap [&>li]:font-[200] [&>li]:leading-[300%]"
        >
          <li><a href="">01.コンセプト</a></li>
          <li><a href="">02.体験内容と料金</a></li>
          <li><a href="">03.アクセス</a></li>
          <li><a href="">04.お知らせ</a></li>
          <li><a href="">05.公式インスタグラム</a></li>
        </ol>
      </nav>
    </div>
  </section>
  <!-- /メインビジュアル -->
  <!-- 装飾 -->
  <div class="overflow-hidden">
    <p
      lang="en"
      aria-hidden="true"
      class="w-fit animate-[marquee_60s_linear_infinite] overflow-hidden whitespace-nowrap text-enText10xl font-light italic leading-none text-ks-white"
    >
      &nbsp;CONCEPT&nbsp;CONCEPT&nbsp;CONCEPT CONCEPT&nbsp;CONCEPT&nbsp;CONCEPT
    </p>
  </div>
  <!-- /装飾 -->
  <!-- コンセプトー -->
  <section id="concept">
    <article class="c-section px-c-gutter-x">
      <figure
        class="sticky top-[8vh] col-span-6 col-start-1 hidden pt-[11.2vw] u-sticky-for-grid sm:block lg:pl-[5.1vw]"
      >
        <img
          src="/images/artandcafe.svg"
          decoding="async"
          width="493"
          height="272"
          alt="金沢茶寮の体験の簡略図"
          class="w-full"
        />
      </figure>
      <div class="relative z-10 col-span-5 col-start-8">
        <h2
          class="mb-[max(2.5vw,3.5rem)] mt-[-1.75em] text-[max(4vw,theme(fontSize.jpText3xl))]/[max(7vw,3.5rem)]"
        >
          感性と創造力を<br translate="no" ari-hidden="true" />刺激する
        </h2>
        <!-- <p
          class="text-[max(1.14vw,theme(Fontsize.jpTextSm))]/[max(2.6vw,1.75rem)]"
        > -->
        <div
          class="text-[max(1.14vw,theme(fontSize.jpTextSm))]/[max(2.6vw,1.75rem)] max-sm:pl-[29vw] lg:pr-[7.25rem] [&>p]:mb-[max(3vw,1.5rem)] [&>p]:text-justify"
        >
          <p>
            金沢茶寮は、自分の手で色彩をほどこした器でプレミアム日本茶を嗜むことが出来る体感型アートカフェです。
          </p>
          <p>
            金沢茶寮で体験できる金沢塗りの特徴は、吉岡正義(よしおかまさよし)氏と松浦悠子(まつうらゆうこ)氏が手掛ける陶器に、色鮮やかな１０種類以上の塗料を重ね塗りし、削りながら作り上げる技法にあります。
          </p>
          <p class="hidden lg:block">
            この技法の背景には石川県で古くから伝えられている伝統工芸「九谷五彩(くたにごさい)」の限られた色彩にとらわれない独自の重ね塗り、磨き、削る技法を「九谷焼(くたにやき)」に取り入れるという挑戦があり、金沢の「塗り文化」に新たな風が吹いています。
          </p>
          <p>
            ぜひ、伝統とモダンが交差しながら共存する金沢ならではの魅力が詰まった「塗り」を心ゆくまでお楽しみください。
          </p>
        </div>

        <aside class="pr-0 pt-[max(1.5vw,3rem)] lg:pr-[5.1vw]">
          <header class="mb-[max(3vw,2.5rem)]">
            <h3
              class="[&>span]:block [&>span]:text-left lg:[&>span]:text-center"
            >
              <span
                class="mb-[.35em] ml-[-.1em] text-[max(4vw,theme(fontSize.enText4xl))]/[max(4.48vw,3.2rem)] lg:ml-0"
                lang="en">Supervisor</span
              >
              <span
                class="text-center text-[max(1.14vw,theme(fontSize.jpTextSm))]/[1em]"
                >監修者紹介</span
              >
            </h3>
          </header>

          <ul>
            <li
              class="mb-[max(3vw,1.3rem)] grid grid-cols-[auto,1fr] gap-x-[max(2.75vw,1rem)]"
            >
              <figure
                class="aspect-[76/91] w-[max(10.3vw,4.75rem)] lg:aspect-[1/1]"
              >
                <img
                  class="size-full"
                  decoding="async"
                  width="165"
                  height="165"
                  src="/images/yoshiokasan.png"
                  alt="金沢茶寮で働く吉岡さん"
                />
              </figure>
              <div>
                <h4
                  class="mb-[.2em] lg:mb-[1.5em] [&>span]:inline-block lg:[&>span]:block"
                >
                  <span
                    class="text-[max(1.5vw,theme(fontSize.jpTextBase))]/[max(1.5vw,1.23rem)] font-semibold lg:mb-[.25em]"
                    >吉岡&nbsp;正義</span
                  >
                  <span class="text-jpTextXs/[max(1.5vw,1.23rem)]"
                    ><span class="inline-block md:hidden">(</span
                    >よしおか&nbsp;まさよし<span class="inline-block md:hidden"
                      >)</span
                    ></span
                  >
                </h4>
                <p
                  class="text-[max(1vw,theme(fontSize.jpTextXs))]/[max(1.75vw,1.4rem)]"
                >
                  数多くの国外で活動するグローバル視点の陶芸作家。日本だけでなく世界各地の土でまだ見ぬ焼き物へと挑戦している。
                </p>
              </div>
            </li>
            <li class="grid grid-cols-[auto,1fr] gap-x-[max(2.75vw,1rem)]">
              <figure
                class="aspect-[76/91] w-[max(10.3vw,4.75rem)] lg:aspect-[1/1]"
              >
                <img
                  class="size-full"
                  decoding="async"
                  width="165"
                  height="165"
                  src="/images/matsuurasan.png"
                  alt="金沢茶寮で働く松浦さん"
                />
              </figure>
              <div>
                <h4
                  class="mb-[.2em] lg:mb-[1.5em] [&>span]:inline-block lg:[&>span]:block"
                >
                  <span
                    class="text-[max(1.5vw,theme(fontSize.jpTextBase))]/[max(1.5vw,1.23rem)] font-semibold lg:mb-[.25em]"
                    >松浦&nbsp;悠子</span
                  >
                  <span class="text-jpTextXs"
                    ><span class="inline-block md:hidden">(</span
                    >まつうら&nbsp;ゆうこ<span class="inline-block md:hidden"
                      >)</span
                    ></span
                  >
                </h4>
                <p
                  class="text-[max(1vw,theme(fontSize.jpTextXs))]/[max(1.75vw,1.4rem)]"
                >
                  金沢美術工芸大学院生。2019年9月にパリのgalerie
                  satelliteでも個展が開かれるなど、在学中からその才能を発揮。
                </p>
              </div>
            </li>
          </ul>
        </aside>
      </div>
    </article>
    <!-- コンセプトー -->
  </section>

  <!-- <ul>
      {
        articles.map((article) => {
          return (
            <li>
              <a href={`articles/${article.slug}`}>{article.title}</a>
            </li>
          );
        })
      }
    </ul> -->

  <script>
    console.log('記入可能');
  </script>
</Layout>
