---
// import { getBlogs } from '../libs/microcms';
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { newtClient } from '../libs/newt';
import type { Article } from '../libs/newt';
const { items: articles } = await newtClient.getContents<Article>({
  appUid: 'blog',
  modelUid: 'article',
  query: {
    select: ['title', 'slug', 'body'],
  },
});
---

<Layout
  title="kanazawa saryo"
  description="金沢茶寮は自分の手で色彩をほどこした器でプレミアム日本茶を嗜むことが出来る体感型アートカフェです。"
  keyword="金沢、カフェ、金沢塗り、伝統工芸"
>
  <!-- メインビジュアル -->
  <section></section>
  <!-- /メインビジュアル -->
  <!-- <ul>
      {
        articles.map((article) => {
          return (
            <li>
              <a href={`articles/${article.slug}`}>{article.title}</a>
            </li>
          );
        })
      }
    </ul> -->
</Layout>

<script>
  console.log('記入可能');
</script>
