---
import BlogPreview from '../libs/__BlogPreview';
import Layout from '../layouts/Layout.astro';
---

<Layout title="My first blog with Astro">
  <main>
    <div>
      <BlogPreview client:only />
    </div>
  </main>
</Layout>
