---
import a from '../../dist/_astro/client.cdcbec7e';

interface Props {
  title: string;
  description: string;
  keyword: string;
}

const { title, description, keyword } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/logo-ogp.svg"
    />
    <meta name="description" content={description} />
    <meta name="keywords" content={keyword} />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="https://kanazawa-saryo.com" />
    <meta name="twitter:title" content="金沢茶寮" />
    <meta
      name="twitter:description"
      content="金沢茶寮は自分の手で色彩をほどこした器でプレミアム日本茶を嗜むことが出来る体感型アートカフェです。"
    />
    <meta name="twitter:image" content="https://kanazawa-saryo.com/ogp.png" />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="noindex" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;700&family=Noto+Serif+JP:wght@200..900&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <style is:global>
    html.is-changing .transition-fade {
      transition: 0.4s;
      opacity: 1;
    }
    html.is-animating .transition-fade {
      opacity: 0;
      transform: translateY(20px);
    }
  </style>
  <body>
    <!-- ヘッダー -->
    <header class="sticky top-0 z-10 max-md:h-0">
      <div
        class="grid grid-cols-[1fr,auto] items-center px-[max(5vw,1.5rem)] pt-[max(2vw,1rem)]"
      >
        <div class="bg-transparent mix-blend-difference">
          <h1 class="w-[max(11.5vw,8.75rem)]">
            <a href="/">
              <img
                src="/images/logo.svg"
                width="185"
                height="43"
                decoding="async"
                alt="金沢茶寮"
                class="object-cover mix-blend-difference"
                aria-label="金沢茶寮の体験申込はこちらへ"
              />
            </a>
          </h1>
        </div>

        <div class="grid grid-cols-[auto,1fr] place-items-center bg-ks-black">
          <a
            class="mr-[max(2vw,.8rem)] box-border py-[max(1vw,0.7rem)] pl-[max(4.4vw,2.2rem)] text-jpTextBase text-ks-white"
            href="/"
            role="button">体験予約</a
          >
          <span class="mr-[max(1.15vw,.75rem)] block w-[max(1.1vw,1rem)]"
            ><img
              src="/images/chevron-white.svg"
              width="13"
              height="11"
              decoding="async"
              class="w-full"
              alt=""
            /></span
          >
        </div>
      </div>
    </header>
    <!-- ヘッダー -->
    <slot />
    <script>
      const minWidth400fixed = () => {
        (function () {
          const viewport = document.querySelector('meta[name="viewport"]');
          function switchViewport() {
            const value =
              window.outerWidth > 400
                ? 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'
                : 'width=400';
            if (viewport)
              if (viewport.getAttribute('content') !== value) {
                viewport.setAttribute('content', value);
              }
          }
          window.addEventListener('resize', switchViewport, false);
          switchViewport();
        })();
      };
      minWidth400fixed();
    </script>
  </body>
</html>
