---
import a from '../../dist/_astro/client.cdcbec7e';

interface Props {
  title: string;
  description: string;
  keyword: string;
}

const { title, description, keyword } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/logo-ogp.svg"
    />
    <meta name="description" content={description} />
    <meta name="keywords" content={keyword} />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="https://kanazawa-saryo.com" />
    <meta name="twitter:title" content="金沢茶寮" />
    <meta
      name="twitter:description"
      content="金沢茶寮は自分の手で色彩をほどこした器でプレミアム日本茶を嗜むことが出来る体感型アートカフェです。"
    />
    <meta name="twitter:image" content="https://kanazawa-saryo.com/ogp.png" />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="noindex" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;700&family=Noto+Serif+JP:wght@200..900&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <style is:global>
    /* html.is-changing .transition-fade {
      transition: 0.4s;
      opacity: 1;
    }
    html.is-animating .transition-fade {
      opacity: 0;
      transform: translateY(20px);
    } */
    @font-face {
      font-family: 'myfont';
      src:
        url('./fonts/myfont.woff') format('woff'),
        url('../fonts/myfont.ttf') format('truetype');
    }
    /* :root {
  --cormorant-garamond: 'Cormorant Garamond', serif;
  --noto-serif-jp: 'Noto Serif JP', serif;
} */

    /* Cormorant Garamond
@font-face {
  font-family: 'Cormorant Garamond';
  font-weight: 300;
  font-style: italic;
  src: url('/fonts/CormorantGaramond-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Cormorant Garamond';
  font-weight: 400;
  font-style: italic;
  src: url('/fonts/CormorantGaramond-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Cormorant Garamond';
  font-weight: 500;
  font-style: italic;
  src: url('/fonts/CormorantGaramond-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Cormorant Garamond';
  font-weight: 600;
  font-style: italic;
  src: url('/fonts/CormorantGaramond-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Cormorant Garamond';
  font-weight: 700;
  font-style: italic;
  src: url('/fonts/CormorantGaramond-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Cormorant Garamond';
  font-weight: 300;
  font-style: normal;
  src: url('/fonts/CormorantGaramond-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Cormorant Garamond';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/CormorantGaramond-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Cormorant Garamond';
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/CormorantGaramond-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Cormorant Garamond';
  font-weight: 600;
  font-style: normal;
  src: url('/fonts/CormorantGaramond-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Cormorant Garamond';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/CormorantGaramond-Bold.ttf') format('truetype');
}


/* @font-face {
  font-family: 'Noto Serif JP';
  font-weight: 100 900;
  font-style: normal;
  src: url('/fonts/NotoSerifJP-VariableFont_wght.ttf') format('truetype');
}  */
  </style>
  <body>
    <!-- ヘッダー -->
    <header class="sticky top-0 z-20 max-md:h-0">
      <div
        class="grid grid-cols-[1fr,auto] items-center px-[max(5vw,1.5rem)] pt-[max(2vw,1rem)]"
      >
        <h1
          class="w-[max(11.5vw,8.75rem)]"
          class="contents mix-blend-difference"
        >
          <a href="/" class="block w-[max(11.5vw,8.7rem)]">
            <img
              src="/images/logo.svg"
              width="185"
              height="43"
              decoding="async"
              alt="金沢茶寮"
              class="size-full object-cover"
            />
          </a>
        </h1>

        <button
          type="button"
          class="grid grid-cols-[auto,1fr] place-items-center bg-ks-black"
        >
          <a
            class="mr-[max(2vw,.8rem)] box-border pb-[max(1vw,0.7rem)] pl-[max(4vw,2.2rem)] pt-[max(.9vw,0.6rem)] text-[max(1vw,theme(fontSize.jpTextBase))] text-ks-white"
            href="https://www.kanazawasaryo.jp/"
            target="_blank"
            role="button">体験予約</a
          >
          <span class="mr-[max(1.15vw,.75rem)] block w-[max(1.1vw,1rem)]"
            ><img
              src="/images/chevron-white.svg"
              width="13"
              height="11"
              decoding="async"
              class="w-full"
              alt="体験の申込はこちら"
            /></span
          >
        </button>
      </div>
    </header>
    <!-- ヘッダー -->
    <slot />
    <script>
      const minWidth400fixed = () => {
        (function () {
          const viewport = document.querySelector('meta[name="viewport"]');
          function switchViewport() {
            const value =
              window.outerWidth > 400
                ? 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'
                : 'width=400';
            if (viewport)
              if (viewport.getAttribute('content') !== value) {
                viewport.setAttribute('content', value);
              }
          }
          window.addEventListener('resize', switchViewport, false);
          switchViewport();
        })();
      };
      minWidth400fixed();
    </script>
  </body>
</html>
